[2021-02-01 12:31] hasindu2008 opened #9 "No output on web interface when custom output directory is provided"
`output-nano` was specified as the output directory and there was not output on the web interface. The log messages are as below.

[code]

[2021-03-18 06:19] #9 closed, assigned to nobody

[2021-03-23 03:33] hasindu2008 opened #14 "The fields that require absolute path are not checked if the paths are valid"
The optional `Output folder:` field at the moment does not check if the user entered a valid absolute path. If the user by mistake enters a relative path e.g. (output2) , the system goes into this frozen state again as below:

![image](https://user-images.githubusercontent.com/12987163/112088638-4ddc0000-8be4-11eb-98b6-e32632210da5.png)

A similar issue might be there for the `Read file:` other fi

[2021-03-23 03:44] hasindu2008 opened #15 "Select "single sample" by mistake for a mult sample"
Should we give a warning or a meaningful message when the produced VCF file is empty - for instance to go back and check if the options are entered correctly?

I deliberately selected "single" instead of "multi" for the number of samples
![image](https://user-images.githubusercontent.com/12987163/112089670-3a319900-8be6-11eb-873c-bc0540c27418.png)

The output is empty
![image](https://user-images.

[2021-03-25 11:45] hasindu2008 opened #16 "When a non existent directory is provided as the input directory, a clear error message will be helpful"
When a non-existent directory is provided as the input directory, the following is the current error message.
![image](https://user-images.githubusercontent.com/12987163/112468000-db257d00-8dbb-11eb-9daa-dd2252482c25.png)

Some exception handling that prints a better error message will be nicer.

[2021-03-26 04:14] hasindu2008 opened #17 "Check invalid input names"
The jobname accepts names like "===" but that fails the run due to mv failing. A sanity check would be better.

[2021-03-26 04:28] hasindu2008 opened #18 "Overwriting with same name fails"
Despite overwrite being enabled, the run failed when the same job name is given as the previous run  (it incorrectly says Job: buhahaha is finished running :D though). Note that, interARTIC was restarted as otherwise the same name will not be accepted for the job name.

[code]

[2021-03-31 03:03] #14 closed, assigned to Psy-Fer

[2021-04-09 04:02] Psy-Fer opened #19 "restting of radial selections on error"
On paramaters setup, if you have an error, like the output folder already existing, then it will reset all radial selections, making the user re-enter them.

Check how the error's are thrown, and that it doesn't reset all the selections.

[2021-04-13 04:43] hasindu2008 opened #20 "Hide history for certain fields if possible"
Only list the existing directories/files in the selected directory. Do not show the history if possible (depending on how hard to do this)

![image](https://user-images.githubusercontent.com/12987163/114497906-6f219080-9c66-11eb-952f-1b9a83aabdf4.png)

[2021-04-13 04:53] hasindu2008 opened #21 "Rewording STARTING XXX COMMAND"
Instead of

*****STARTING XXX COMMAND*****

something like

*****RUNNING XXX COMMAND*****

is better. Otherwise, someone may think it is stuck.

[2021-04-13 04:54] hasindu2008 opened #22 "If "other" primer-scheme is selected, is it possible to"

[2021-04-13 04:56] hasindu2008 opened #23 "If "other" primer-scheme is selected, is it possible to automatically unroll Customise your parameters *for advanced users*"
When "other" is the primer-scheme, Minimum Length, Maximum length, etc. are required to be put. Can we automatically unroll that section if "other" is selected?  Otherwise, we can put a note near "other" that if this is selected advanced parameters must be set.

[2021-04-13 06:49] #22 closed, assigned to nobody

[2021-04-13 15:36] #17 closed, assigned to Psy-Fer, hasindu2008

[2021-04-14 04:51] #21 closed, assigned to Psy-Fer

[2021-04-14 05:09] #23 closed, assigned to Psy-Fer

[2021-04-14 05:09] #19 closed, assigned to Psy-Fer

[2021-04-14 08:29] Psy-Fer opened #24 "Dark mode"
Add Dark mode that is persistent between sessions and pages.

use this as a guide

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_toggle_dark_mode

[2021-04-14 08:34] #16 closed, assigned to Psy-Fer, hasindu2008

[2021-04-14 08:34] #18 closed, assigned to Psy-Fer

[2021-04-14 08:37] hasindu2008 opened #25 "Sanity check the barcode CSV files"
It may be a common mistake from the  user to provide a malformed CSV file. Good if we do some sanity test.

e.g.:
1. whether adhered to the  _sample_name,barcode format_
2. Wired characters in _sample_name,barcode format_
3. If the barcode names look valid? NBXX, RBXX etc.

[2021-04-15 04:16] Psy-Fer opened #26 "update tooltips"
use file from Ira to update tooltip info

[2021-04-15 04:18] #26 closed, assigned to Psy-Fer

[2021-04-15 04:20] Psy-Fer opened #27 "Add plots to output page"
Import the plots into the output page with any other data.

[2021-04-15 04:21] Psy-Fer opened #28 "Re-organise output page"
Change output page to be sample selection dependant.

The user selects the sample to view from a dropdown, and that displays the plots and variants.

[2021-04-15 04:22] Psy-Fer opened #29 "Update about page"
Update the info for the repo, authors, and a little history of the project.

Links to documentation and papers too

[2021-04-15 07:59] hasindu2008 opened #30 "A clear error message if the user has not set the input data locations"
It might be a common mistake that a first time user proceeds to add a job without setting up the location of the input data. IN such a case, a nice error message like "Could not find the input data location /xxx. Did you forget to set them?"

The current error message is:
![image](https://user-images.githubusercontent.com/12987163/114834802-44753a80-9e14-11eb-92c7-ef528d69ef80.png)

[2021-04-15 08:00] #20 closed, assigned to Psy-Fer, hasindu2008

[2021-04-15 11:08] Psy-Fer opened #31 "Cleanup static/tmp_plots"
Plots are copied into static/tmp_plots/<job_name>/ to view in the browser.
We should add into BOTH the bash run.sh as well as the python, something that cleans them up.

they get created once during the job, and just get copied each time they are viewed, so no issue with the job_name folders getting deleted.

[2021-04-15 16:01] Psy-Fer opened #32 "Add model selection for medaka to allow use with promethion flowcells"
Currently the model defaults to the latest in the medaka workflow.

Need to add a div that appears on the selection of medaka with the models to get the right model.

[2021-04-16 02:49] Psy-Fer opened #33 "Video tutorial/demo"
Make a 10min or less video demo to make it easy for people to setup and run

[2021-04-16 05:23] #28 closed, assigned to Psy-Fer

[2021-04-16 05:51] #27 closed, assigned to Psy-Fer

[2021-04-16 08:16] #30 closed, assigned to Psy-Fer

[2021-04-16 08:19] #25 closed, assigned to Psy-Fer

[2021-04-16 08:20] hasindu2008 opened #34 "Fix issues in run.sh scripts when the path contains spaces"
run.sh script will not be happy when there are spaces. Need to see what we can do about this or just add to the readme.

[2021-04-16 09:07] #29 closed, assigned to Psy-Fer

[2021-04-17 05:28] hasindu2008 opened #35 "Barcode format check in CSV"
Currently, we consider NBXX and RBXX as valid barcodes. Can this be BCXX as well, for instance, in midnight?

[2021-04-17 07:49] hasindu2008 opened #36 "When a error occurs, the job list on the home page becomes empty"
To simulate the issue, run the ebola dataset with the following barcodes in the CSV file:

[code]

or else run the midnight dataset with the following barcodes:

[code]

[2021-04-17 07:52] hasindu2008 opened #37 "SIngle sample no longer works"
When a single sample is selected, it seems to look for a CSV file now.

![image](https://user-images.githubusercontent.com/12987163/115106011-a6b17500-9fa5-11eb-9e95-4d87cf79c3b0.png)

[2021-04-17 08:22] hasindu2008 opened #38 "Need to document (add tooltip) about the data directory structure"
When I put the data directory as:

ebola/fastq_pass
ebola/fast5_pass

It got confused:
![image](https://user-images.githubusercontent.com/12987163/115106410-fe50e000-9fa7-11eb-837f-183cbb5398e4.png)

When it is as below, it is fine:
ebola/runid/fastq_pass
ebola/runid/fast5_pass

[2021-04-17 08:22] hasindu2008 opened #39 "Nanopolish pipeline does not work if sequencing summary file is not there"
![image](https://user-images.githubusercontent.com/12987163/115106767-e5492e80-9fa9-11eb-8188-d88e687d8bc0.png)

[2021-04-19 01:56] hasindu2008 opened #40 "FASTQ file location inferrence is wrong"
![image](https://user-images.githubusercontent.com/12987163/115171355-3706cb80-a106-11eb-85ff-76b158d5cc1b.png)

[2021-04-19 03:11] hasindu2008 opened #41 "After a job failed, rerunning option gives error"
![image](https://user-images.githubusercontent.com/12987163/115176625-ce711c00-a110-11eb-9a4f-1fb974d44b23.png)

![image](https://user-images.githubusercontent.com/12987163/115176549-ad103000-a110-11eb-9207-b28aa1797d5f.png)

[2021-04-19 04:35] #35 closed, assigned to Psy-Fer

[2021-04-19 04:35] #37 closed, assigned to Psy-Fer

[2021-04-26 05:22] Psy-Fer opened #42 "Custom primer scheme name"
When using a custom primer scheme, force user to enter primer scheme name, otherwise it throws a None error constructing minion command

[2021-04-26 06:29] Psy-Fer opened #43 "Custom primer bug with primer type == None"
Primer_type was coming through as None in custom primer scheme method.

This is caused by legacy conflict from converting "other" in primer schemes to "custom" in viruses.

Thanks to Ellen De Vries for picking this one up

[2021-05-04 07:05] Psy-Fer commented on #43
fixed in bf5d3247a6ceacbb8791ddc36e4d2f04d1191526

[2021-05-04 07:05] #43 closed

[2021-05-04 07:10] Psy-Fer commented on #42
Fixed in 90a23de4dc5ed0c09f7d6efb3949f93a942aa3b4

[2021-05-04 08:43] Psy-Fer commented on #39
fixed in 4a806baf8fd026cc88bacb314f269d2ad481a860

[2021-05-04 08:44] Psy-Fer commented on #38
fixed in 5974abc9b46fd725f0c8a731f02191b89663a585 and 91da7094575a411de3025ff5ca424cfa3497e135

[2021-05-04 08:44] Psy-Fer commented on #40
fixed in 96dd2aacc96dd5192649ca5c73527264a0b4a15d

[2021-05-04 08:46] Psy-Fer opened #44 "fasta download button"
Button to download fasta for each sample on output page

another button that downloads ALL fasta files from that run

[2021-05-04 09:58] #31 closed

[2021-05-04 10:56] Psy-Fer commented on #44
Added big download button for individual consensus file with commit b9f8b51e81ba793b047b3908e29d68c5f98dd7d7

still need to add download all button

[2021-05-05 06:15] #42 closed

[2021-05-05 06:17] #39 closed

[2021-05-05 06:19] hasindu2008 commented on #38
I think the proper names:
        sample_id and run_uuid

[2021-05-05 07:41] #38 closed

[2021-05-05 07:46] #40 closed

[2021-05-05 07:46] #44 closed

[2021-05-05 07:47] hasindu2008 opened #45 "Button for "next" and "download all""
It would be nice to have a "next" and "back" button to go through samples in a run, and also a button to download a tarball containing all final consensus fastas.

[2021-05-05 07:50] hasindu2008 opened #46 "Output directory check enchancement to detects wrong FASTQ inference"
The output directory check that detects wrong FASTQ inference fails if the user give  the absolute path as the output directory.

Examples directory structure:
[code]
User gives `/data/ebola3/output` as the output location.

[2021-05-06 03:43] Psy-Fer commented on #41
I think the best solution for this, for now, is to just disable this portion of the workflow, as it got rather complex with the large amount of development done, and many things fell through the cracks for how this is managed.

[2021-05-06 06:06] #41 closed

[2021-05-06 06:56] hasindu2008 commented on #15
Auto fixed after the covar plot stuff!

[2021-05-06 06:56] #15 closed

[2021-06-04 04:12] Psy-Fer commented on #33
uploaded to youtube

[2021-06-04 04:12] #33 closed

[2021-06-17 18:16] AntonPembaur opened #47 "Problems with Fastq files in Subfolder"
Hi there, i have a small issue, that you may fix. If basecalling and demultiplexing during sequencing was enabled, the passed fastq files needed to be direct in the passed fastq folder, not in subfolders. Maybe there is the possibility to reach into the subfolders.
To have basecalling turned on while sequencing comes practical, as you are able the read depht for every barcode...
Thanks a lot!

[2021-06-21 03:46] Psy-Fer commented on #47
Hello Anton,

Normally we use RAMPART to monitor runs for looking at depth across the genome for each barcode.
I can see how it would be useful to make the directory traversal dynamic enough to handle this.

I'll come up with something to make this possible.

[2021-07-02 15:37] hanfan1803 opened #48 "interARTIC for aarch64 (Jetson Xavier NX)"
Does interARTIC support aarch64 system?

I would manually config dependencies (e.g. list of dependencies with specific version) and source of interARTIC.

It would be great if you could build a docker for interARTIC.

Thanks
Han

[2021-07-02 16:24] Psy-Fer commented on #48
Hey @hasindu2008 what do you think?

@hanfan1803 we can try it out, but the conda/snakeballs could get a bit messy.

[2021-07-02 16:30] hanfan1803 commented on #48
yeah, I have to install miniforge-pypy3 instead of common anaconda3 and a lot packages on Anaconda, particularly bioconda, do not support aarch64 :D.

[2021-07-03 03:56] hasindu2008 commented on #48
At the moment interARTIC does not support aarch64. I explored the possibility some time ago, but never pursued it as it is time-consuming.

Direct dependencies for interARTIC celery==4.4.6 redis==3.5.3 flask==1.1.2 are available through pypi.
redis-server==6.0.9 is unavailable, but compiling redis-server is from the source is possible.
pandas==1.2.4 is not available, instead 1.1.X and I am sure @P

[2021-07-03 04:34] hanfan1803 commented on #48
@hasindu2008

- I installed miniforge-pypy3 at https://github.com/conda-forge/miniforge, which also has mambaforge-pypy3 (which is a alternative for mamba). The miniforge could be comparable with miniconda3 and I could install packages through conda-force channel; the bioconda channel could work out sometimes (e.g. -c bioconda biopython).  Actually I do not know much about mamba. If you could give

[2021-07-03 06:33] hanfan1803 commented on #48
@hasindu2008 About Dockerfile, I have added wget into to get it work:
`FROM ubuntu:16.04
WORKDIR /
RUN  apt-get update \
  && apt-get install -y wget \
  && rm -rf /var/lib/apt/lists/*
RUN wget https://github.com/Psy-Fer/interARTIC/releases/download/v0.3/interartic-v0.3-linux-x86-64-binaries.tar.gz -O interartic_bin.tar.gz
RUN tar xf interartic_bin.tar.gz
WORKDIR /interartic_bin
CMD ./run.sh`

But

[2021-07-03 07:22] hasindu2008 commented on #48
Could you please send those three logs /interartic_bin/redis.log, /interartic_bin/interartic.log and /interartic_bin/celery.log

[2021-07-03 07:40] hasindu2008 commented on #48
On my ARM Xavier I can get the interARTIC installed as follows (without artic :D)

[code]

However, installing _artic_ seems to be a nightmare.

[2021-07-03 07:42] hasindu2008 commented on #48
@hanfan1803
Could you see if you can get the following installed using miniforge you mentioned

artic-porechop==0.3.2pre
artic-tools==0.2.6
longshot=0.4.1
medaka=1.0.3
multiqc
muscle=3.8

[2021-07-03 07:51] hanfan1803 commented on #48
I do not know to get generated files after running docker image ...Do you know?

[2021-07-03 08:05] hasindu2008 commented on #48
Havn;t used docker before much. But there should be a way to pull files from inside the image. By the way, hope you are using the `docker-multiarch`. The binaries provided are for x86 and if you are to run them on ARM through docker, you need the docker-_multiarch_ that integrates _qemu_ to emulate x86. Even if it works, will be very slow I believe.

[2021-07-03 08:08] hasindu2008 commented on #48
Anyway, using miniforge-pypy you can get the following dependencies of artic
[code]

You can compile minimap2, samtools as follows
[code]
Nanopolish and _bwa_ should work with similar steps.

This is what is left to be figured out:
[code]

[2021-07-03 11:12] hanfan1803 commented on #48
-  artic-porechop==0.3.2pre:
python -m pip install git+https://github.com/artic-network/Porechop.git@v0.3.2pre

[2021-07-03 11:43] hanfan1803 commented on #48
- longshot=0.4.1
download at https://github.com/pjedge/longshot/releases/tag/v0.4.1
sudo apt-get install cargo zlib1g-dev xz-utils libclang-dev clang build-essential curl git
cd longshot
cargo install --path .
export PATH=$PATH:/home/$USER/.cargo/bin              # add cargo binaries to path

I got issue at cargo install --path . step. It said that I should compile rust-htslib.

rust-htslib (https

[2021-07-03 12:30] hasindu2008 commented on #48
Perhaps, you should try to get the nanopolish pipeline running first. That does not need longshot and medaka I believe.

@Psy-Fer is multiqc really used inside artic?

By the way getting muscle compiled is also easy:
[code]

[2021-07-03 12:36] hanfan1803 commented on #48
I will try nanopolish pipeline first, but GPU on Xavier is it's advantage, if I could use medaka I guess I could shorten processing time.

[2021-07-03 12:41] hasindu2008 commented on #48
@hanfan1803
Medaka in its variant calling mode does not use the GPU anyway I think. @Psy-Fer can confirm this.

[2021-07-03 13:04] hanfan1803 commented on #48
Regarding bwa 0.7.17, I followed instruction but have errors:

gcc -c -g -Wall -Wno-unused-function -O2 -DHAVE_PTHREAD -DUSE_MALLOC_WRAPPERS  ksw.c -o ksw.o
ksw.c:29:10: fatal error: emmintrin.h: No such file or directory
 #include <emmintrin.h>
          ^~~~~~~~~~~~~
compilation terminated.
Makefile:25: recipe for target 'ksw.o' failed
make: *** [ksw.o] Error 1

[2021-07-03 13:11] hasindu2008 commented on #48
ahh right
You need to get sse2neon from https://github.com/lh3/minimap2 and put it inside the bwa directory
then add something like this to the makefile https://github.com/lh3/minimap2/blob/52dbd439bcd6bb08b428aed1c0f9b778af04d78e/Makefile#L11

I think artic uses minimap2 by default, so you would not need it. For the nanopolish pipeline the log was like this
[code]

[2021-07-03 14:50] hanfan1803 commented on #48
I got this message after interARTIC installation:

Hint: It's a good idea to run 'make test' ;)

make[1]: Leaving directory '/home/nx-1/interARTIC/redis-6.0.12/src'
31093:C 03 Jul 2021 21:45:56.507 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
31093:C 03 Jul 2021 21:45:56.507 # Redis version=6.0.12, bits=64, commit=c9ee80fc, modified=0, pid=31093, just started
31093:C 03 Jul 2021 21:45:56.508 #

[2021-07-03 14:59] hasindu2008 commented on #48
@hanfan1803
ohh I forgot
Control+c to first kill redis
pkill redis  #to make sure redis is killed
./run-dev.sh

[2021-07-03 15:03] hasindu2008 commented on #48
BTW, I managed to get the necessary things for the artic nanopolish pipeline compiled and made a draft _snakeball_. I do not have a GUI on my xavier AGX to do testing.  Could you check on yours?

https://www.dropbox.com/s/igk9yki081o3uqu/interartic_bin_aarch64_alpha.tar.gz?dl=0

extract the tarball and  cd to it then
./run.sh

[2021-07-03 15:04] hanfan1803 commented on #48
Yeah, thanks

One more thing, I followed nanopolish instruction but got this message:

tar -xzf hdf5-1.8.14.tar.gz || exit 255
URL transformed to HTTPS due to an HSTS policy
--2021-07-03 19:43:15--  https://bitbucket.org/eigen/eigen/get/3.3.7.tar.bz2
Resolving bitbucket.org (bitbucket.org)... 2406:da00:ff00::22c3:9b0a, 2406:da00:ff00::22c2:513, 2406:da00:ff00::6b17:d1f5, ...
Connecting to bitbucke

[2021-07-03 15:05] hanfan1803 commented on #48
I will copy this into interARTIC then try to run web-interface :D

[2021-07-03 15:08] hasindu2008 commented on #48
Did you do a git clone --recursive for nanopolish?

That eigen link inside nanopolish is broken, I had to manually download eigen-3.3.7 and hdf5-1.10.4 hwn compiling nanopolish.

[2021-07-03 15:09] hasindu2008 commented on #48
The tarball includes interartic and artic nanopolish both. So you do not need to copy to your own. Just extract and run.

[2021-07-03 15:22] hanfan1803 commented on #48
@hasindu2008
your interartic aarch64 alpha version is working :D
![Screenshot from 2021-07-03 22-20-20](https://user-images.githubusercontent.com/50611691/124358991-1f42dc00-dc4d-11eb-9230-6400743abbe6.png)

I am running a test with your sample data (nCoV-19 sample with 10 barcoding)

[2021-07-03 16:26] hanfan1803 commented on #48
@hasindu2008 the aarch64 alpha version is working just fine to get consensus sequences. The alpha version seems lack the matplotlib, so at the end of interARTIC pipeline, the sw cannot plot graphs. I attached the out log file below.
[all_cmds_log.txt](https://github.com/Psy-Fer/interARTIC/files/6758709/all_cmds_log.txt)

[2021-07-03 16:38] hanfan1803 commented on #45
@hasindu2008 when running ONT flowcell with 96 barcoding kit, the option to get all consensus sequences in a directory would help. This directory will be as input for covid mutation classification like https://pangolin.cog-uk.io/ and nextstrain. This option could save a lot of time.

[2021-07-04 02:49] hasindu2008 commented on #48
@hanfan1803
Looks like it has progressed a lot further than I imagined, without a crash. Approximately how much time did it take?
Tomorrow I will create a snakeball with matplotlib.

If you ever get to know the steps to install medaka and longshot let me know. For now I will stick to nanopolish pipeline.

[2021-07-04 04:23] hanfan1803 commented on #48
@hasindu2008
It took maybe one hour (I will run it one more time and set a timer :D).

It was confirmed by @Miles at https://github.com/sirselim that currently medaka cannot work on ARM and he will publish a tool  work as the medaka  but dedicate for ARM soon.

[2021-07-04 04:25] Psy-Fer commented on #48
Just to chime in for a moment.

The medaka variant calling stuff only uses CPU.
MultiQC is NOT used. They added it in for people to run their own QC at the end. (we don't use that)

I'm glad this is coming along :)

[2021-07-04 05:09] hasindu2008 commented on #48
An hour is really good, that my laptop took like 30 minutes for the same sample. Yes, *medaka* is too bulky and I think it is not worth putting in the effort as nanopolish does the job quite well (in the benchmarks I did on my laptop the time taken is comparable).

@sirselim was it the _tensorflow_ that caused issues when you tried medaka?

[2021-07-04 05:20] hanfan1803 commented on #48
@hasindu2008

In the demultiplexreport.txt file, there are only 24 barcodes in search set. What will happen if I use 96 barcoding kit, or use custom barcoding kits?

I would use the interARTIC for analysis 7-10 antibiotic resistant genes of TB with barcoding kit (12, 24, 96). If I do so, I will treat each genes as a virus sample in the interARTIC, so I should able to custom references.fasta files,

[2021-07-04 06:17] hasindu2008 commented on #48
I think @Psy-Fer will be the one to answer those. In summary, yes custom references and primers are supported. @Psy-Fer will point you to the instructions.

[2021-07-05 09:14] hasindu2008 commented on #48
@hanfan1803
Would you mind checking if plotting works in this latest build I did?
https://www.dropbox.com/s/4h0a335bvg755im/interartic_bin_aarch64_beta.tar.gz?dl=0

[2021-07-05 11:01] hanfan1803 commented on #48
@hasindu2008
The beta version had run without bug or crash. The plotting works are working.

Thanks

[2021-07-06 02:04] hasindu2008 opened #49 "Matplotlib issue"
@Psy-Fer

Do you have any idea what causes this issue? Happened when I compiled on Ubuntu 16 for aarch64 and running on 18.
[code]
[all_cmds_log.txt](https://github.com/Psy-Fer/interARTIC/files/6766816/all_cmds_log.txt)

[2021-07-06 05:29] Psy-Fer commented on #49
That to me looks like an environment problem.

this post: https://stackoverflow.com/questions/49169055/docker-tkinter-tclerror-couldnt-connect-to-display/49229627#49229627

Looks like it should solve it.

Otherwise, I can force it to not have the interactive mode part (which isn't needed anyway) and force it to use agg with

`matplotlib.use('Agg')`

If the first solution isn't viable, let me know,

[2021-07-06 05:53] Psy-Fer commented on #48
The demultiplexing is only limited by what the porechop installed can manage, currnetly:

- 24 native barcode
- 12 rapid barcodes
- 96 PCR (not relevant here)

If there is a set it can't handle, then we will need to update that in the porechop library. The other option is to reconfigure the workflow to take data already demultiplexed by MinKNOW/Guppy, but that required quite a bit of work to imple

[2021-08-02 05:24] Psy-Fer commented on #47
Enable InterARTIC to use both un-demuxed (to be done with porechop) and demuxed (done with guppy) as input.

[2021-08-02 05:25] Psy-Fer commented on #49
Is this still an issue?

[2021-08-02 05:29] hasindu2008 commented on #49
Yes. We should get rid of this xwindow thing.

[2021-08-02 08:20] Psy-Fer opened #50 "config file for custom schemes"
Add config file input (hidden by default) to allow user to pre-fill the custom fields.

[2021-08-02 08:34] Psy-Fer opened #51 "Add version info to web interface"
Add a static/prominant version stamp to all pages.

Probably just add it to the page template, and link to a global var in main.py

[2021-08-02 08:37] Psy-Fer opened #52 "Add html docs pages to app"
Get html renders and add help/docs links to page template.

Test it doesn't break workflows.

[2021-08-02 08:41] Psy-Fer opened #53 "Step by step guide for custom schemes"
We need to create a step by step guide for a user to create their own custom primer scheme to be used with InterARTIC, that is compatible with the underlying artic pipelines.

Then give very explicit instructions on how to use them with the InterARTIC paramaters page.

[2021-08-02 08:42] Psy-Fer opened #54 "how to update?"
How do we update interARTIC?

Most likely rm -rf dir and download and unpack new tarball.

[2021-08-02 08:45] Psy-Fer opened #55 "utf-8 compatibility"
Make paths, filenames, etc to be utf8 compatible to be more flexible.

@Psy-Fer to do snake side

@hasindu2008 to do bash side

[2021-08-02 08:46] Psy-Fer commented on #45
I should also move this button to the top.

[2021-08-02 08:49] Psy-Fer opened #56 "Add artic v4 primers"
add these

https://github.com/artic-network/artic-ncov2019/tree/master/primer_schemes/nCoV-2019/V4

[2021-08-02 08:58] Psy-Fer commented on #55
Also look at glob/or whatever to be file system agnostic

[2021-08-03 06:19] Psy-Fer commented on #51
Added Version of InterARTIC and ARTIC to bottom of every page.

Need to add more granular version of all software used by ARTIC in about page. This will also help as an ENV check

[2021-08-06 06:17] Psy-Fer commented on #45
- [ ] Download all as zip
- [ ] Download all as single fasta
- [ ] Next/Previous nav buttons
- [ ] Move nav and download buttons to top

[2021-08-06 06:19] Psy-Fer commented on #51
Added versions on about page in commit https://github.com/Psy-Fer/interARTIC/commit/73e809df6665eaae105481f8b4db67aa937dbe98

[2021-08-10 07:54] Psy-Fer commented on #45
Will move buttons when re-organising output page

[2021-08-16 05:11] Psy-Fer opened #57 "Progress bar needs to be fixed"
Progress bar is broken and doesn't line up with various new pipelines.

Fix it up so it doesn't confuse users.

[2021-08-16 11:13] Psy-Fer commented on #47
Alright, working prototype for this in dev commit https://github.com/Psy-Fer/interARTIC/commit/e8a99bea3991417f4663d29f076c0033fecf6498

[2021-08-17 07:29] Psy-Fer commented on #56
Added in commit https://github.com/Psy-Fer/interARTIC/commit/ad4a2624c275954781c740a786485f9f97d4a281

[2021-08-17 07:50] Psy-Fer commented on #54
Added to about page, directing to github

[2021-08-17 07:51] #54 closed

[2021-08-23 04:59] hasindu2008 opened #58 "Missing jobs until manually refreshed"
Before refreshed
![image](https://user-images.githubusercontent.com/12987163/130392674-fcf389cb-21d9-4908-a01d-3d5bdc67b3b7.png)

After refreshed
![image](https://user-images.githubusercontent.com/12987163/130392720-93787842-9867-417f-bc99-1f9f368d5151.png)

[2021-08-23 06:54] Psy-Fer commented on #58
Yea, this is a known bug, as the task checker isn't triggered initially. It's a bit of a chicken/egg problem, but i'll look into it.

[2021-08-23 13:58] hasindu2008 opened #59 "Can the abort button be hiddenor show something in green like success after all steps complete?"
When a job completes, the abort button becomes bigger than before and this may mislead someone to think that the job failed.

before:
![image](https://user-images.githubusercontent.com/12987163/130460101-e9b5d22b-a151-47f1-990d-8ba09bdfb2d6.png)

after:
![image](https://user-images.githubusercontent.com/12987163/130459884-4a86155f-151c-4e3a-bf5d-a55e8383990b.png)

[2021-08-25 10:02] Psy-Fer opened #60 "More QC metrics on output"
Add in extra QC metrics for each sample, displayed in copy/paste compliant table, as well as add buttons to download sample as well as all samples in a tsv file.

[2021-08-25 10:57] Psy-Fer commented on #52
to make it not require the index.html file and work offline, a version with this flag in the yaml file needs to be created.

`use_directory_urls: false`

https://github.com/mkdocs/mkdocs/issues/1498

[2021-08-25 12:35] Psy-Fer commented on #52
Alright, added in https://github.com/Psy-Fer/interARTIC/commit/7823360b775180a9f462ff76137fb1f4839d48b5

[2021-08-31 11:07] Psy-Fer commented on #60
The bulk of this is done. Needs to be reviewed.

[2021-08-31 11:08] Psy-Fer commented on #59
Something weird about the button becoming bigger, but as a way around this, I've changed it to be "success" when no errors are detected.

![image](https://user-images.githubusercontent.com/8985577/131492226-99b8b3b5-a779-4b4e-88f5-088f028a038d.png)

[2021-08-31 11:09] Psy-Fer commented on #45
Buttons moved.

[2021-08-31 11:10] #45 closed

[2021-08-31 11:11] #53 closed

[2021-09-02 06:08] Psy-Fer commented on #51
Because the version checks are run in the celery env, and all tasks are currently set to run serially, the env version checks try to wait for any currently running jobs in the queue before it runs.

I need to figure out how to force the about check to run asynchronously, even if it's in serial mode.

[2021-09-02 07:07] hasindu2008 commented on #52
works!

[2021-09-02 07:07] #52 closed

[2021-09-02 12:05] #34 closed

[2021-09-02 12:30] #49 closed

[2021-09-06 04:16] Psy-Fer commented on #55
okay, went for a more dirty approach. I have manually set what is not allowed. It's not perfect but will stop 99% of issues.

https://github.com/Psy-Fer/interARTIC/commit/0b2a9337edb2c10e29a65e34832da09beeac0008

[2021-09-06 05:17] Psy-Fer commented on #51
So this issue comes down to the fact that we need one of the celery workers to run a task so that we can access the version info of the software they use when running the jobs.

However, because we use `--concurrency=1` in our run.sh script when launching celery, this makes all the tasks serial, rather than asynchronous.

So this means, while no jobs are running, the about page will run fine with

[2021-09-06 05:32] Psy-Fer commented on #51
okay, instead of the check at the start, every time versions about is selected, it makes a version file. if there are tasks running, it reads this file instead of trying to build it again. if there are no tasks running, it builds it from scratch.

The only time this would fail, is the FIRST time this is run, if the user starts a task, then hits about.

fix in:
https://github.com/Psy-Fer/interARTIC

[2021-09-06 11:37] Psy-Fer opened #61 "delete and abort buttons on home no longer working"
abort and delete buttons not working on the home screen.

Jobs are cleared when the web server is restarted, so not a big deal, and jobs can be clicked through to and aborted, but this is not ideal for a user.

most likely just a broken link or something.

[2021-09-06 11:40] Psy-Fer commented on #59
okay, i had the logic around the wrong way. This should work now. I tested with a fresh run (no errors) and a dodgy run (with errors) and it looks the way it should.

https://github.com/Psy-Fer/interARTIC/commit/d66b8b235846a03259cfc0d55d14f30f5fb7c20d

[2021-09-07 04:12] hasindu2008 commented on #59
works

[2021-09-07 04:12] #59 closed

[2021-09-07 04:12] hasindu2008 commented on #51
works

[2021-09-07 04:12] #51 closed

[2021-09-07 04:12] hasindu2008 commented on #55
works!

[2021-09-07 04:12] #55 closed

[2021-09-07 04:36] Psy-Fer opened #62 "QC metric download buttons"
Add some buttons to download the QC metrics to a file

[2021-09-07 05:42] Psy-Fer commented on #60
Need to alter how variant depth is calculated. Charles at PoW raised a good point about this calculation, and how the current VCFs produced by ARTIC are.....not great. I'll do my best effort for the plots and table, as an indicator to the user, but this kind of in-depth analysis should be handled outside of InterARTIC/ARTIC as it currently is by the users we have encountered.

[2021-09-07 10:47] Psy-Fer opened #63 "fix input for single sample when compiling metadata for QC report"
When a single sample (selected on parameters page), fastq file isn't moved to it's own folder, and thus the fastq cannot be found for metadata QC report generation. Best way to solve this is to run single sample runs similar to multi, and still move the files.

[2021-09-07 11:35] Psy-Fer commented on #63
This should be fixed now

[2021-09-09 06:49] Psy-Fer opened #64 "macOS library's missing?"
dyld: Library not loaded: /Users/gtg/miniconda3/envs/artic-ncov2019/lib/libtinfow.6.dylib
  Referenced from: /Users/iradeveson/Desktop/interartic_bin/artic_bin/lib/libncursesw.6.dylib
  Reason: image not found
dyld: Library not loaded: /Users/gtg/miniconda3/envs/artic-ncov2019/lib/libtinfow.6.dylib
  Referenced from: /Users/iradeveson/Desktop/interartic_bin/artic_bin/lib/libncursesw.6.dylib
  Reas

[2021-09-09 09:04] hasindu2008 commented on #64
It is a mistake when creating the tarball - mistakenly used an older version I believe.

[2021-09-09 09:05] hasindu2008 commented on #64
Tested on the gtg macbook and worked

[2021-09-09 09:05] #64 closed

[2021-09-09 10:01] Psy-Fer commented on #60
Okay, this is now fixed in both the QC tables and CoVar Plots.

[2021-09-09 10:06] Psy-Fer commented on #63
okay, i got the relative directory wrong. this is fixed now.

[2021-09-09 12:53] Psy-Fer commented on #62
file and button added

https://github.com/Psy-Fer/interARTIC/commit/5a65c2891130d5e2c3e46de120c09e1062ee13b2

[2021-09-09 13:28] Psy-Fer commented on #61
home page buttons need a complete re-write. So changed the button to "complete" to act as a status for now. Will need to think about how to do this carefully when I circle back to it.

[2021-09-10 05:09] hasindu2008 commented on #63
works!

[2021-09-10 05:09] #63 closed

[2021-09-10 05:12] hasindu2008 commented on #60
Looks good to me! WIll close the issue for now.

[2021-09-10 05:12] #60 closed

[2021-09-10 05:15] hasindu2008 commented on #62
works!

[2021-09-10 05:15] #62 closed

[2021-09-12 04:09] Psy-Fer commented on #56
tries to download the primers, which we want to give manually. need to block that method.

[2021-09-12 04:22] Psy-Fer commented on #56
Ahh, the issue is the name changed from nCoV-2019 to SARS-CoV-2. This then fails the check to see if the reference.fasta and the scheme.bed files exist.

For now, I'll duplicate the files with the name change, and patch this in the future.

[2021-09-13 10:21] hasindu2008 commented on #48
@hanfan1803

We just released interARTIC v0.4 with some improvements (mainly now it supports artic v4 primers and guppy demultiplexed data) - includes an aarch64 release as well now.

Also @Psy-Fer has added a nice guide on using custom primers and viruses at https://psy-fer.github.io/interARTIC/primers/

Give it a go on your Jetson NX and let us know how it goes.

[2021-09-13 10:22] #56 closed

[2021-09-13 12:07] hasindu2008 commented on #47
@AntonPembaur

InterARTIC v0.4 released a few moments ago has a feature to support the guppy demultiplexed directory structure. You have to tick the option when processing an already demultiplexed data set.
![image](https://user-images.githubusercontent.com/12987163/133079948-e45c0c47-2edf-49e5-94bd-107bc806d3d3.png)

As we did not have a live demultiplexed dataset, we ran guppy_barcoder manually

[2021-09-13 15:44] AntonPembaur commented on #47
@hasindu2008
Hi, thanks for implementing this, I tested it and it works all fine.

My system configuration is indeed x84_64 on Linux as well as a Subsystem on Windows.

[2021-09-13 17:29] Psy-Fer commented on #47
We really appreciate your help and feedback. Thanks!

[2021-09-14 01:31] hanfan1803 commented on #48
@hasindu2008 @Psy-Fer thank you a lot for the new aarch64 update, I am ordering artic v4 primers. I will notify you guys know about our experience with the new update soon.

Thanks

[2021-09-14 02:51] hanfan1803 commented on #48
Hi @hasindu2008 I just try interARTIC v4 with midnite primers and I got this issue.
![image](https://user-images.githubusercontent.com/50611691/133186806-2756702a-1b69-4ae7-abfa-e5bc0b4080c2.png)

[2021-09-14 02:59] hasindu2008 commented on #48
ahh, it is this Nanopore's latest vbz compressed FAST5 files. Could you please run the following script to install the vbz plugin first https://github.com/hasindu2008/slow5tools/blob/master/scripts/install-vbz.sh?
Then, launch the run.sh?

[2021-09-14 03:17] hanfan1803 commented on #48
i tried but then

![image](https://user-images.githubusercontent.com/50611691/133189291-54ad9060-38b8-4cf9-b388-8ae5580c9b7f.png)

[2021-09-14 03:24] hasindu2008 commented on #48
ohh you downloaded the HTML page rather than the script from github.  If you are 'wgetting' or 'curling' use this link https://raw.githubusercontent.com/hasindu2008/slow5tools/master/scripts/install-vbz.sh

[2021-09-14 03:41] hanfan1803 commented on #48
I installed the latest version of vbz compress from the source and it works just fine.

Thanks for your suggestion.

[2021-09-14 03:47] hasindu2008 commented on #48
Thank you, in the next release I will include this plugin inside interARTIC itself.

[2021-09-17 02:23] hasindu2008 commented on #48
@hanfan1803 The latest 0.4.1 release have vbz plugin built in. I will close this issue for now. Please reopen or open a new issue if you encounter problems or want to request new features. Thank you very much for testing.

[2021-09-17 02:23] #48 closed

[2021-09-17 09:23] Psy-Fer opened #65 "RB##.fatq not found error"
When analysing a pre-demultiplexed run where the fastq files are gzipped, ( *.fastq.gz ) the output will say something like

RB01.fastq not found .....

.gz fastq files not being detected is a small bug in the file detection in src/jobs.py

A fix has been made in the master branch. To patch your existing build, simply replace the src/jobs.py file with the latest in master.

[2021-09-18 18:23] Psy-Fer opened #66 "Nanopolish and 96 barcodes"
If you are doing analysis on a run with 96 samples, medaka should work fine, but nanopolish might throw an error about too many arguments in the celery.log file.

A quick fix for this is to split the sample csv file into 2, with 45 samples in each.
Then submit the job twice with a unique job name and output folder for each, and the corresponding half sample .csv file.

A fix will be made to get ar

[2021-10-05 01:52] Psy-Fer opened #67 "Add barcode autodetect"
Add an option to autodetect barcodes and process all of them with default sample names, rather than requiring a csv file assigning sample to barcode.

This isn't ideal for clinical work as it decouples the barcode and the sample information, requiring it to be matched again manually by the user, so there will also be an annoying warning for those wishing to do it this way.

[2021-10-08 09:35] omarkr8 opened #68 "run wont start. output is in same directory as data"
I'm trying to start a run. filling the details in the webpage returns me to the top with an error about the output being the same directory as data (i'll edit in the exact wording when i try it again, currently reinstalling)

My data is on a USB stick with the following structure:
------
harddisk/
    samples/
       barcode01/
           A.fastq
           B_fastq
       barcode02/
           C.f

[2021-10-08 09:54] Psy-Fer commented on #68
If the folder that is then selected in the parameters page, also contains the fastq files, it will throw that error. Quick fix should be to throw the data into another folder so it's deeper in the file structure

[2021-10-08 09:59] omarkr8 commented on #68
hmm well that let the job through. so that's good.

immediately faced with a IsADirectoryError [Errno21] :/media/labx/harddisk/interartictest

was something wrong with my pathing?

[2021-10-08 10:17] omarkr8 commented on #68
hmmm so i adjusted the sample csv. had to edit some malformations, but the job is currently running (1/4 steps complete)

but the thing is, up till this point, I had selected 'single samples' not multiple samples. Does the pipeline automatically detect demultiplexed samples if it sees a 'barcode01' folder?

in any case, the immediate issues brought up here is resolved.
many thanks, and good to hav

[2021-10-11 08:22] omarkr8 opened #69 "Gupplyplex. illegal instruction, core dump"
Finding strange output at the first step of the pipeline, im assuming it is trying to use guppyplex to collect demux data.

output looks like
***RUNNING GUPPYPLEX COMMAND***
Illegal instruction (core dump)

and that is repeated many many times, presumably for every barcode.

I do not believe this is an issue with the pipeline per se, because i can run the same parameters and data on a different ma

[2021-10-11 08:42] hasindu2008 commented on #69
This kind of error was observed in ARM-v8 processors due to openBLAS core type not being recognised correctly, which was then fixed.
Is your processor Intel or ARM? Can you send the details of your processor  - output of cat /proc/cpuinfo?

[2021-10-12 02:39] omarkr8 commented on #69
So i've given Ubuntu 3 processors using VMM...

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 85
model name	: Intel(R) Xeon(R) Silver 4208 CPU @ 2.10GHz
stepping	: 7
microcode	: 0xffffffff
cpu MHz		: 2095.078
cache size	: 11264 KB
physical id	: 0
siblings	: 3
core id		: 0
cpu cores	: 3
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 22
wp		: yes
flags

[2021-10-12 03:52] omarkr8 commented on #69
the cat output was in the VMM
im using Oracle VM virtualbox Manager

host machine is a Windows 10 Pro.
I cant cat/proc on command line. perhaps an alternate command "wmic cpu" gives me

Intel64 Family  6 Model 85 Stepping 7
Intel(R) Xeon (R) Silver 4208 CPU@ 2.10GHz
8 Cores

[2021-10-12 03:59] hasindu2008 commented on #69
Right, seems like  Oracle VM VirtualBox Manager is not exposing AVX and this might be the cause https://stackoverflow.com/questions/65780506/how-to-enable-avx-avx2-in-virtualbox-6-1-16-with-ubuntu-20-04-64bit.

However, if you are running on Windows 10, there is another easy way to run interARTIC without any VMs - natively on Windows using WSL. Have you got WSL installed - if not it is pretty stra

[2021-10-12 04:42] hasindu2008 commented on #69
Perhaps Could you try this https://petri.com/how-to-disable-hyper-v-completely-in-windows-10?

[2021-10-13 06:35] omarkr8 opened #70 "Add option for min_depth"
Just a suggestion, but would be nice to be able to still generate consensus with regions <20 coverage.
an option to modify minimum depth could be added?

[2021-12-10 01:39] hasindu2008 commented on #48
@hanfan1803
Would like to include your name in the acknowledgement in our interARTIC manuscript for helping us test on ARM? If so could you provide your name and details?

[2021-12-10 02:04] hanfan1803 commented on #48
Hi @hasindu2008, it's my honor.

My information is: Han N. Phan.
NTT Hi-Tech Institute, Nguyen Tat Thanh University, Ho Chi Minh City, Vietnam.
pnhan@ntt.edu.vn

I hope your group keep supporting arm devices for the coming projects.

Your interARTIC for ARM has helped us a lot when sequencing covid-19, and future multiple antibiotic resistance sequencing project.

[2021-12-22 09:01] rebeelouise commented on #68
Hi @Psy-Fer - I am having this problem too - trying to play with our data that automatically gets transferred to our server from our runs. But we only take the the run_id over... e.g. 20211221_1411_X3_FAR98500_6ab03da1 - which are all stored in our gridion directory. So it wont let me run this data due to how it's structured!!

[2021-12-22 09:10] Psy-Fer commented on #68
Hmm okay I'll do something about it. Is this urgent?

[2021-12-22 09:13] rebeelouise commented on #68
@Psy-Fer no not at all. Just having a look atm!! Thank you!

[2022-01-12 11:56] Krysasp opened #71 "bed format error when testing on amplicon & ref on other viruses"
Hi there, thank you for creating this amazing tools !
I recently work on other viruses and try to customize my own primers in bed format, i flagged correctly "_LEFT" and "_RIGHT" to the scheme. But somewhat still getting this error:

Traceback (most recent call last):
  File "/home/ihcm-ubuntu/interartic_bin/lib/python3.7/site-packages/flask/app.py", line 2464, in __call__
    return self.wsgi_app

[2022-01-12 12:41] Krysasp commented on #71
issue solved: turns out I ran into some malfunction bed files..

[2022-03-03 15:44] ShawnSimp commented on #71
@Krysasp can I get some more clarity on how you solved this issue? i'm get the same " UnboundLocalError: local variable 'bed_file' referenced before assignment " error at the moment

[2022-03-14 04:20] Psy-Fer opened #72 "sceheme download failed error in artic minion"
If an error occurs, where it says it can't download the requested scheme (like when doing a custom primer scheme not included).

[code]

Ensure the names of the files in the primer scheme are correct.

artic minion's `minion.py` does the following check on the file names for the .bed and .fasta files

[code]

Note that the filenames are `MyAwesomeVirus.scheme.bed` and `MyAwesomeVirus.reference.fas

[2022-03-14 04:21] Psy-Fer commented on #72
This is a user input issue, and created for future reference

[2022-03-14 04:21] #72 closed

[2022-03-27 09:32] Psy-Fer commented on #71
Hello @ShawnSimp,

Could you drop me the full error message?

Could be your bed wasn't picked up along with a certain set of circumstances my error handling doesn't pick up, so throwing that rather than actually doing something useful for you.

Please let me know and I'll try and help/fix it.

Cheers,
James

[2022-03-27 09:32] #71 closed

[2022-03-27 09:33] Psy-Fer opened #73 "bed_file referenced before assignment"
@Krysasp can I get some more clarity on how you solved this issue? i'm get the same " UnboundLocalError: local variable 'bed_file' referenced before assignment " error at the moment

_Originally posted by @ShawnSimp in https://github.com/Psy-Fer/interARTIC/issues/71#issuecomment-1058175061_

[2022-03-27 09:33] Psy-Fer commented on #73
Opening new issue:

Hello @ShawnSimp,

Could you drop me the full error message?

Could be your bed wasn't picked up along with a certain set of circumstances my error handling doesn't pick up, so throwing that rather than actually doing something useful for you.

Please let me know and I'll try and help/fix it.

Cheers,
James

[2022-03-29 05:12] Psy-Fer opened #74 "FR: protein variants"
list the protein variant, like `S123G` in the output report.

Can probably list int the variant table in another column

Request from noncodo (Martin)

[2022-07-28 10:27] yeathian opened #75 "Command Failed: bcftools"
Hi @Psy-Fer,

I was trying an analysis for one of SARS COV2 data wherein the job failed to complete and it is stuck in "progress" state. The last few line of the pipeline output showing the following error.

`Test_7_NCOV_02_RB07.coverage_mask.txt Test_7_NCOV_02_RB07.fail.vcf Test_7_NCOV_02_RB07.preconsensus.fasta
Running: bcftools consensus -f Test_7_NCOV_02_RB07.preconsensus.fasta Test_7_NCOV_02_

[2022-07-28 10:38] Psy-Fer commented on #75
Hey,

I'll have a better look at this tomorrow, but the divide by zero looks like genome size was never populated, which means maybe the genome wasn't picked up. What are the settings you are running with?

James

[2022-07-31 05:10] yeathian commented on #75
Here's the settings I used:

Input Contains: Multiple Samples
Select the virus: SARS-CoV-2
Primer Scheme: Midnight V1 (1200bp)
Already demultiplexed with Guppy - Checked (basecalled using MinKNOW)
library preparation method: Rapid Library Prep
Select a pipeline to run: Medaka

Customize parameter for advanced users:  Default

[2022-08-05 03:58] Psy-Fer commented on #75
From the logs, it looks like this is the issue

[code]

which looks related to this error

[code]

Not sure why this failed. What i'd normally do is try to run the command manually and see if I can get a proper error message out of it.